<div class="card">
  <h1>
    Conditions générales d’utilisation du site Let's Play (letsplaymetal.fr)
  </h1>

  <h2>Article 1 : Objet</h2>

  Les présentes CGU ou Conditions Générales d’Utilisation encadrent
  juridiquement l’utilisation des services du site Let's Play (ci-après dénommé
  « le site »). Constituant le contrat entre l'entité Let's Play, l’Utilisateur,
  l’accès au site doit être précédé de l’acceptation de ces CGU. L’accès à cette
  plateforme signifie l’acceptation des présentes CGU.

  <h2>Article 2 : Mentions légales</h2>

  L’édition du site Let's Play est assurée par Marie Koscianski-Ducharlet,
  personne physique. L’hébergeur du site est un serveur de démonstration de
  l'école Ada Tech School.

  <h2>Article 3 : Accès au site</h2>

  Le site Let's Play permet d’accéder gratuitement aux services suivants :
  <ul>
    <li>Consultation des annonces</li>
    <li>Dépôt d'annonce</li>
    <li>Recherche d'annonce</li>
    <li>Création de compte utilisateur</li>
    <li>Consultation de compte utilisateur</li>
  </ul>

  Le site est accessible gratuitement depuis n’importe où par tout utilisateur
  disposant d’un accès à Internet. Tous les frais nécessaires pour l’accès aux
  services (matériel informatique, connexion Internet…) sont à la charge de
  l’utilisateur. L’accès aux services dédiés aux membres s’effectue à l’aide
  d’un identifiant et d’un mot de passe. Pour des raisons de maintenance ou
  autres, l’accès au site peut être interrompu ou suspendu par l’éditeur sans
  préavis ni justification.

  <h2>Article 4 : Collecte des données</h2>

  Pour la création du compte de l’Utilisateur, la collecte des informations au
  moment de l’inscription sur le site est nécessaire et obligatoire.
  Conformément à la loi n°78-17 du 6 janvier relative à l’informatique, aux
  fichiers et aux libertés, la collecte et le traitement d’informations
  personnelles s’effectuent dans le respect de la vie privée. Suivant la loi
  Informatique et Libertés en date du 6 janvier 1978, articles 39 et 40,
  l’Utilisateur dispose du droit d’accéder, de rectifier, de supprimer et
  d’opposer ses données personnelles. L’exercice de ce droit s’effectue par : -
  Le formulaire de contact - Le profil de l'utilisateur sur le site

  <h2>Article 5 : Propriété intellectuelle</h2>

  Les marques, logos ainsi que les contenus du site Let's Play (illustrations
  graphiques, textes…) sont protégés par le Code de la propriété intellectuelle
  et par le droit d’auteur. La reproduction et la copie des contenus par
  l’Utilisateur requièrent une autorisation préalable du site. Dans ce cas,
  toute utilisation à des usages commerciaux ou à des fins publicitaires est
  proscrite.

  <h2>Article 6 : Responsabilité</h2>

  Les utilisateurs restent seuls responsables des annonces qu'ils postent sur le
  site. Let's Play ne peut être tenue responsable du contenu des annonces
  postées par les utilisateurs. Le site ne peut être tenu pour responsable en
  cas de force majeure ou du fait imprévisible et insurmontable d’un tiers.
  Let's Play s’engage à mettre en œuvre toutes les méthodes requises pour
  assurer la sécurité et la confidentialité des données de ses utilisateurs.

  <h2>Article 7 : Respect de la réglementation et modération des annonces</h2>

  En postant une annonce sur le site, l'utilisateur s'engage à respecter les
  lois et réglementations en vigueur, et notamment à ne publier aucun propos
  diffamatoire, injurieux, raciste, xénophobe, révisionniste ou portant atteinte
  à l'honneur ou à la réputation d'autrui. En cas de non-respect de ces règles,
  Let's Play se réserve le droit de supprimer l'annonce en question sans préavis
  ni justification. En cas de récidive, l'utilisateur pourra être banni du site.

  <h2>Article 8 : Cookies</h2>

  Lors des visites sur le site, l’installation automatique d’un cookie sur le
  logiciel de navigation de l’Utilisateur peut survenir. Les cookies
  correspondent à de petits fichiers déposés temporairement sur le disque dur de
  l’ordinateur de l’Utilisateur. Ces cookies sont nécessaires pour assurer
  l’accessibilité et la navigation sur le site. Ces fichiers ne comportent pas
  d’informations personnelles et ne peuvent pas être utilisés pour
  l’identification d’une personne. L’information présente dans les cookies est
  utilisée pour améliorer les performances de navigation sur le site Let's Play.
  En naviguant sur le site, l’Utilisateur accepte les cookies. Leur
  désactivation peut s’effectuer via les paramètres du logiciel de navigation.

  <h2>Article 9 : Durée du contrat</h2>

  Le présent contrat est valable pour une durée indéterminée. Le début de
  l’utilisation des services du site marque l’application du contrat à l’égard
  de l’Utilisateur.

  <h2>Article 10 : Droit applicable et juridiction compétente</h2>

  Le présent contrat est soumis à la législation française. L’absence de
  résolution à l’amiable des cas de litige entre les parties implique le recours
  aux tribunaux français compétents pour régler le contentieux.
</div>
