#ads-list {
    width: 70%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1rem;
    box-sizing: border-box;
  
    .card {
        width: auto;
        background-color: #ffffff;
        border-bottom: 1px solid #d1d5db;
        margin: 1rem 0; 
    }
    
  
    #button {
      margin: auto;
      display: flex;
      justify-content: flex-end;
      margin-top: 1rem;
    }
  }