<div id="ad-small-bg" class="card">
    <div id="ad-small-card">
        <div id="picture">
            <img [src]="ad.image" alt="image de l'annonce">
        </div>
       
        <div id="content">
            <h2>{{ad.title}}</h2>
        </div>

        <div id="add-buttons">
            <div id="see-add-button">
                <button class="button" (click)="goToAd()">Voir l'annonce</button>
            </div>
    
            <div id="delete-add-button" *ngIf="isUserAuthor()">
                <button class="button" (click)="showConfirm()">Supprimer</button>
            </div>

            <div id="update-add-button" *ngIf="isUserAuthor()">
                <button class="button">Modifier</button>
            </div>
        </div>
    </div>

    <p-toast 
    position="center" 
    key="confirm"
    [baseZIndex]="5000">
        <ng-template let-message pTemplate="message">
                <div>
                    {{ message.summary }}
                </div>
                <button class="button" (click)="onConfirm()"> Oui </button>
                <button class="button" (click)="onReject()"> Non </button>
        </ng-template>
</p-toast>
</div>

