<header>
    <nav id="header">
        <a routerLink="home"><img src="assets/images/Logo.png" alt="Logo Let's Play" id="logo"></a>
        <a routerLink="home" routerLinkActive="underline" class="link">ACCUEIL</a>
        <a routerLink="search" routerLinkActive="underline" class="link">RECHERCHER</a>
       
        <div class="relative">
            <a *ngIf="userLoggedIn; else loginLink">
                <div>
                    <p-menu #menu [model]="items" [popup]="true" />
                    <button (click)="menu.toggle($event)">
                        <img id="profile-pic" src="{{userInfos?.profilePicture}}" alt="Photo de profil" >
                    </button>
                </div>
            </a>
            <ng-template #loginLink>
                <a routerLink="login" routerLinkActive="underline" class="link">CONNEXION / INSCRIPTION</a>
            </ng-template>
        </div>

        <div class="visible lg:invisible">
        <!-- TO DO : créer le menu dépliant pour les petits écrans et gérer le media query -->
        </div>
    </nav>
    <div id="description" *ngIf="showDescription" >
        LET’S PLAY, c’est LA plateforme qui met en relation les musiciens et groupes de metal.<br>
        Parcours nos dernières annonces et trouve tes futurs bandmates !
    </div>

    <p-toast position="top-left" key="tl"></p-toast>
</header>