<div id="ad-small-bg" class="card">
    <div id="ad-small-card">
        <div id="picture">
            <img [src]="ad.image" alt="image de l'annonce">
        </div>
       
        <div id="content">
            <h2>{{ad.title}}</h2>
        </div>

        <div id="add-buttons">
            <div id="see-add-button">
                <button class="button" (click)="goToAd()">Voir l'annonce</button>
            </div>
    
            <div id="delete-add-button">
                <button class="button">Supprimer</button>
            </div>
        </div>
    </div>
</div>

