<div class="card">
    <h2>
        Connecte-toi pour accéder à ton espace personnel !
    </h2>

    <form #loginForm="ngForm" (ngSubmit)="onSubmit(loginForm)">
       
        <input type="email" name="email" placeholder="e-mail" ngModel required class="field">
        <input type="password" name="password" placeholder="mot de passe" ngModel required class="field">
        <button type="submit" [disabled]="!loginForm.form.valid" class="button" *ngIf="!loading && !isLoggedIn">Submit</button>
        <div *ngIf="loading">
            <p-progressSpinner ariaLabel="loading"></p-progressSpinner>
        </div>
    </form>


    <!-- TO DO -->
    <div id="regeneration-password">
        <a href="#" class="login-links">Mot de passe oublié ?</a>
    </div>

    <div id="lien-inscription" class="login-links">
        <p>Pas encore de compte ? <a routerLink="/register" class="login-links">Inscris-toi</a></p>
    </div>

</div>