<div class="card">
  <h1>Modifie ton annonce</h1>

  <div id="form-container">
    <form [formGroup]="adForm" (ngSubmit)="onSubmit()">
      <label for="title">Titre :</label>
      <input
        type="text"
        id="title"
        name="title"
        class="field"
        formControlName="title"
        required
      />

      <div id="image-container" *ngIf="imageSrc !== ''">
        <img
          id="selected-image"
          src="{{ imageSrc }}"
          alt="Image de l'annonce par défaut"
        />

        <button
          class="button"
          type="button"
          id="upload-image"
          (click)="openWidget()"
          name="Choisir une autre image pour l'annonce"
        >
          Choisir une autre image
        </button>
      </div>

      <div>Je suis : {{ from }} {{ searching }}</div>

      <div>En région : {{ location }}</div>

      <div id="style-selection" class="select-options">Styles recherchés :

      <p-multiSelect 
      ariaLabel="Choisis les styles de musique recherchés"
      formControlName="selectedMusicStyles" 
      [options]="musicStyles" 
      optionLabel="name" 
      placeholder="Sélectionne les styles de ton choix"/>
    </div>

      <label for="description">Ton annonce :</label>
      <textarea
        id="description"
        name="description"
        class="field"
        formControlName="description"
        required
      ></textarea>

      <button
        type="submit"
        [disabled]="adForm.invalid"
        class="button"
        *ngIf="!loading && !submitted"
        name="Mettre à jour mon annonce"
      >
        Mettre à jour mon annonce
      </button>

      <p-progressSpinner
        *ngIf="loading"
        class="spinner"
        mode="indeterminate"
      ></p-progressSpinner>
    </form>
  </div>
</div>
