<div id="user-card" class="card">
  <h2>{{user?.username}}</h2>
  <img id="profile-pic" class="profile-picture h-20 w-20 rounded-full object-cover border border-gray-400" src="{{userPicture}}" alt="Photo de profil">
  <button id="upload_widget" (click)="openWidget()" class="button">
    Changer ma photo de profil
  </button>

  <div class="profile-infos">    
    <label for="newPassword" class="mt-2">Nouveau mot de passe :</label>
    <input type="password" id="newPassword" [(ngModel)]="newPassword" name="newPassword" class="field">
    
    <label for="confirmNewPassword" class="mt-2">Confirmer le nouveau mot de passe :</label>
    <input type="password" id="confirmNewPassword" [(ngModel)]="confirmNewPassword" name="confirmNewPassword" class="field">
  </div>

  <!-- Bouton "Enregistrer mes modifications" -->
  <button class="button mt-2" (click)="updateProfile()">Enregistrer mes modifications</button>
</div>