<div class="card" *ngIf="fromEmail">
  <h1>Mot de passe oublié ?</h1>

  <form #emailForm="ngForm" (ngSubmit)="onSubmit(emailForm)">
    <label for="email">Email :</label>
    <input
      type="email"
      name="email"
      placeholder="e-mail"
      ngModel
      required
      class="field"
    />
    <button
      type="submit"
      [disabled]="!emailForm.form.valid"
      class="button"
      *ngIf="!loading && !submitted"
      name="Demander à réinitialiser le mot de passe"
    >
      Envoyer
    </button>
    <div *ngIf="loading">
      <p-progressSpinner ariaLabel="chargement en cours"></p-progressSpinner>
    </div>
    <div *ngIf="submitted" id="submitted-info-message">
      <p>
        Ta demande a bien été prise en compte. S'il existe bien un compte Let's
        Play avec cet email, tu vas recevoir un message te permettant de
        réinitialiser ton mot de passe.
      </p>
      <p>Pense à vérifier tes spams pour ne pas le rater !</p>
      <button class="button" routerLink="/login" name="Se connecter">Connexion</button>
    </div>
  </form>
</div>

<div class="card" *ngIf="!fromEmail">
  <h1>Saisis ton nouveau mot de passe</h1>

  <form
    #newPasswordForm="ngForm"
    (ngSubmit)="onSubmitNewPassword(newPasswordForm)"
  >
    <div>(minimum 8 caractères, un chiffre, un caractère spécial):</div>
    
    <label for="password">Mot de passe :</label>
    <input
      type="password"
      placeholder="Mot de passe"
      name="password"
      ngModel
      required
      class="field"
    />
    <label for="confirmPassword">Confirmer le mot de passe :</label>
    <input
      type="password"
      placeholder="Confirmer le mot de passe"
      name="confirmPassword"
      ngModel
      required
      class="field"
    />
    <button
      type="submit"
      [disabled]="!newPasswordForm.form.valid"
      class="button"
      *ngIf="!loading && !submitted"
      name="Soumettre le nouveau mot de passe"
    >
      Envoyer
    </button>
    <div *ngIf="loading">
      <p-progressSpinner ariaLabel="loading"></p-progressSpinner>
    </div>
    <div *ngIf="submitted" id="submitted-info-message">
      <p>
        Ton mot de passe a bien été modifié. Tu peux maintenant te connecter !
      </p>
      <button class="button" routerLink="/login" name="Se connecter">Connexion</button>
    </div>
  </form>
</div>
