<div class="card">
  <h2>
    Envoie un message concernant cette annonce :
    <a [routerLink]="['/ad', ad?.id]">{{ ad?.title }}</a>
  </h2>

  <form [formGroup]="contactForm" (ngSubmit)="onSubmit()">
    <textarea
      id="message-text-input"
      name="description"
      class="field"
      formControlName="description"
      required
    ></textarea>

    <button type="submit" class="button" [disabled]="">Envoyer</button>
  </form>

  <p id="response-info">
    Ce message sera envoyé par e-mail à l'auteur de l'annonce. Afin d'être
    certain.e de ne pas rater sa réponse, pense à bien surveiller le dossier
    "Courrier indésirable de tes emails !"
  </p>
</div>
