<div class="card">
  <h1>
    Envoie un message concernant cette annonce :
    <a [routerLink]="['/ad', ad?.id]">{{ ad?.title }}</a>
  </h1>

  <div class="message-component-form" *ngIf="!messageSent">
    <form [formGroup]="contactForm" (ngSubmit)="onSubmit()">
      <textarea
        id="message-text-input"
        name="textMessage"
        class="field"
        formControlName="textMessage"
        required
      ></textarea>

      <button
        type="submit"
        class="button"
        [disabled]="contactForm.invalid"
        name="Envoyer ce message"
        data-cy="send-message-to-author"
      >
        Envoyer
      </button>
    </form>

    <p id="response-info">
      Ce message sera envoyé par e-mail à l'auteur de l'annonce. Afin d'être
      certain.e de ne pas rater sa réponse, pense à bien surveiller le dossier
      "Courrier indésirable de tes emails !"
    </p>
  </div>

  <div class="message-component-form" *ngIf="messageSent">
    <p id="response-info" data-cy="message-sent">
      Ton message a bien été envoyé à l'auteur de l'annonce. Tu devrais recevoir
      une réponse très prochainement !
    </p>
    <button class="button" (click)="backToAd()" name="Retour à l'annonce" data-cy="back-homepage">Retour à l'annonce</button>
  </div>
</div>
