.message-component-form{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
}

#message-text-input {
    height: 15rem;
}

#response-info {
    text-align: center;
    font-size: small;
}

