<div class="card">
    <h1>À propos de nous</h1>

    <div id="presentation">Let's Play Metal est avant tout un projet d'études conçu par Marie Koscianski-Ducharlet, 
        aussi connue sous le pseudonyme "Eira" dans la scène metal francilienne, afin de valider un titre RNCP de "Concepteur développeur d'applications."
    </div>

    <div>
        Son but est de permettre aux musiciens de la scène metal de trouver des partenaires de jeu pour former des groupes.
    </div>

    <div>
        Il est pour l'instant au stade de MVP (Minimum Viable Product) et est en cours de développement. 
        Qui sait, peut-être viendra-t-il un jour mettre en relation de vrais musiciens et groupes !
    </div>

</div>
